    {{> headercustomer}}
<div class="container-manager">
    <div class="header__manager">
        <h2>Information of members in my room</h2>
    </div>
    <div class="content__manager">
        <table>
            <thead>
                <th>Name</th>
                <th>Sex</th>
                <th>Identity card </th>
                <th>Room</th>
                <th>Phone number</th>
                <th>Start day</th>
                <th>Leave day</th>
                <th>Note</th>
            </thead>
            <tbody id="customers">
            </tbody>
        </table>
    </div>
</div>


<script src="/script/me/myinfor.js"></script>