
<div class="header">
    <div class="header__content">
        <div class="header__logo">
            <i class="fas fa-hotel"></i>
        </div>
        <div class="header__items">
            <ul>
                <li>
                    <a href="/me/home">
                        <i class="fas fa-tachometer-alt"></i>  Home
                    </a>
                </li>
                <li class="">
                    <a href="/me/myinfor">
                        <i class="fas fa-laptop-house"></i>
                        My Infor
                    </a>
                </li>
                <li>
                    <a href="/me/room">
                        <i class="fas fa-laptop-code"></i>
                        My Room
                    </a>
                </li>
                <li>
                    <a href="/me/notification">
                        <i class="fas fa-bell"></i> Notification
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__out">
            <a href="/login"> LogOut <i class="fas fa-power-off"></i></a>
        </div>
    </div>
</div>
