    {{> header}}
    <div class="home-admin">
    <h1>Admin Page</h1>
    <div class="revenue">
        <h3>month revenue</h3>
        <div>
            <canvas id="month"></canvas>
        </div>
    </div>
    <div class="revenue">
        <h3>year revenue</h3>
        <div>
            <canvas id="year"></canvas>
        </div>
    </div>
    </div>

<script src="/assets/chart/index.js"></script>
<script src='/script/admin/homeadmin.js'></script>
