
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motels</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>    
    <div id="toast"></div>
    {{!-- My script event for toast --}}
    <script src="/script/toast.js"></script>
    
    <!-- JQUERY IMPORT -->
    <script src="/assets/jquery/jquery.min.js"></script>

    {{{ body}}}

    <!-- ICON IMPORT  -->
    <script src="/assets/icons/fontawesome.min.js"></script>
    {{!-- My script --}}
</body>
</html>